/* your styles go here */

.box-masonry-text p {
    margin: 0;
    text-align: justify;
}

.box-masonry-text h4 {
    margin-top: 0px;
    margin-bottom: 6px;

}
.box-masonry-text h4 a {
    color: #f0f0f0;
    border: none
}

.box-masonry-text h4 a:hover {
    color: #ffffff;
    text-decoration: underline ;
    text-decoration-color: #ffffff;
    border: none
}

.content-column-content p {
    text-align: justify;
}

.sidebar-p {
    text-align: justify;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}

.carousel-inner {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}